.head {
  width: 100%;
  height: 60px;

  background-color: black;
  position: fixed;
  z-index: 10;
}

img.head_logo {
  margin-left: 15px;
  margin-top: 15px;
}

a.head_search {
  width: 32px;
  height: 55px;

  position: absolute;
  top: 0;
  left: 1385px;

  background-color: none;
}

i.material-icons {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 18px;
}

i.material-icons:hover {
  color: rgb(255, 101, 0);
}

a.head_gift {
  width: 32px;
  height: 55px;

  position: absolute;
  top: 0;
  left: 1420px;

  background-color: none;
}


/* ul li */
.sub-menu-parents {
  width: 90px;

  position: relative;
  margin-left: 20px;

  list-style: none;
  line-height: 55px;
  /* background-color: red; */
}

a.Btn__Home {
  margin-top: 0px;
  
  background-color: rgb(0, 0, 0);
  color: rgb(155, 155, 155);
  /* background-color: red; */

  font-size: 16px;
  display: block;
  line-height: 55px;
  /* text-align: left; */
}

a.Btn__Home:hover {
  color: rgb(255, 101, 0);
  text-decoration: none;
}

.Btn__Child{
  color: rgb(255, 255, 255);
  background-color:rgb(0, 0, 0);

  font-size: 18px;
  line-height: 35px;
  text-align: left;
  display: list-item;
  text-decoration: none;

  margin-top: 5px;
  /* padding: 10px 10px 10px 0px; */
}
.Btn__Child:hover{
  color: rgb(255, 101, 0);
  text-decoration: none;
}

.sub_menu {
  background-color: black;

  visibility: hidden;
  opacity: 0;
  list-style-type: none;
  display: inline-block;

  position: absolute;
  top: 100%;
  left: 0;
  padding:0em 1em;

  width: 170%;
  height: 330px;

  transform: translateY(-3px);
  z-index: -1;
  transition: all 0.3s ease-in-out, linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parents:focus .sub_menu,
.sub-menu-parents:hover .sub_menu {
  visibility: visible;
  opacity: 1;
  z-index: 5;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.Btn__Parent {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 900px;
  line-height: 55px;

  position: absolute;
  top: 0;
  margin-left: 328px;
}



div.log__in {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 55px;

  background-color: black;

  position: absolute;
  top: 0;
  left: 1480px;
}

a.log__in {
  font-size: 16px;
  text-decoration: none;
  color: gray;
}

a.log__in:hover {
  color: rgb(255, 101, 0);
  text-decoration: none;
}
