.head {
  width: 100%;
  height: 60px;

  background-color: black;
  position: fixed;
  z-index: 10;
}

img.head_logo {
  margin-left: 15px;
  margin-top: 15px;
}

a.head_search {
  width: 32px;
  height: 55px;

  position: absolute;
  top: 0;
  left: 1385px;

  background-color: none;
}

i.material-icons {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 18px;
}

i.material-icons:hover {
  color: rgb(255, 101, 0);
}

a.head_gift {
  width: 32px;
  height: 55px;

  position: absolute;
  top: 0;
  left: 1420px;

  background-color: none;
}

#head_home {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 900px;
  height: 55px;

  position: absolute;
  top: 0;
  margin-left: 328px;

  background-color: none;
}

#Btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 110px;
  height: 55px;

  color: gray;
  text-align: center;
  font-size: 16px;

  background-color: black;
  border: none;
  border-bottom: 3px solid rgb(255, 101, 0);
}

#Btn:hover {
  text-decoration: none;
  color: rgb(255, 101, 0);
}

.Btn__Home {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 40px;

  width: 90px;
  height: 55px;

  font-size: 16px;
  color: gray;
  text-align: center;
  text-decoration: none;

  background-color: black;
}

.Btn__Home:hover {
  text-decoration: none;
  color: rgb(255, 101, 0);
}

div.log__in {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 55px;

  background-color: black;

  position: absolute;
  top: 0;
  left: 1480px;
}

a.log__in {
  font-size: 16px;
  text-decoration: none;
  color: gray;
}

a.log__in:hover {
  color: rgb(255, 101, 0);
  text-decoration: none;
}
